<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Testcases.Listener"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
     <class name="Testcases.Signuptest"/>
     <class name="Testcases.Logintest"/>
     <class name="Testcases.Cartfunctest"/>
     <class name="Testcases.Selection"/>
     <class name="Testcases.orderplace"/>
     <class name="Testcases.Logouttest"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
